<p>
  <strong>Title:</strong>
  <%= @napkin.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @napkin.text %>
</p>

<h2>Comments</h2>
<%= render @napkin.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit this idea', edit_napkin_path(@napkin) %><br>
<%= link_to 'Back', napkins_path %>